#map-canvas {
  /*display: none;*/
  height: 30em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.card {
}

.carousel-item-active {
}

.carousel-item-inactive {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}
