/*kg ef static css below*/
a.rat > i.icon{
  float: left !important;
}

.cbox{
/*  border: 1px solid orange;
  text-align: center;*/
}

.reviews {
  border: 1px solid green;
  height: 15em;
  text-align: center;
  margin-top: 15px;
  width: 290px;
}
.container {
/*  text-align: center;
*/}

.spin {
/*  margin-top: 2em;
*/} /*tried to get margins to space button, unsuccessful*/

.debugger{
  border: 3px solid red;
}

/*Carousel css bk and kg were working on is below*/


#content {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#content figure {
  margin: 0
}
.react-3d-carousel {
  width: 380px;
  height: 500px;
  position: relative;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.react-3d-carousel .carousel {

  transform-style: preserve-3d;

}
.spin-button {
  text-align: center;
  margin-bottom: 50px;
}
/*.react-3d-carousel .carousel  figure {
  display: block;
  position: absolute;
  width: 400px;
  height: 300px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}*/
.react-3d-carousel .carousel  figure {
  display: block;
  position: absolute;
  /*left: 10px;*/
  top: 10px;
}

.react-3d-carousel .carousel figure {
  background: hsla( 160, 100%, 50%, 0.8);
}

#content table {
  margin-top: 20px;
}

#content {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#content figure {
  margin: 0
}


.react-3d-carousel   .prev {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0px;
  left: 0px;
}

.react-3d-carousel   .prev:before {
  /*content: url("http://s3.postimg.org/o6xpvkidb/chevron_left_white.png");*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 43px;
  height: 49px;
  margin: auto;
}

.react-3d-carousel  .next {
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0px;
  right: -5px;
}

.react-3d-carousel  .next:before
{
  /*content: url("http://s2.postimg.org/l0n6eaoad/chevron_right_white.png");*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 43px;
  height: 49px;
  margin: auto;
}
